* {
  box-sizing: border-box;
}

.top-image {
  width:100vw;
	padding-bottom: 40px;
}

span {
	font-size: 35px;
	text-align: center;
	display: block;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.gallery-image{
  display: flex;
  align-items: center;
	justify-content: space-around;
	width: 100%;
	padding: 60px 0;

}

.food-image{
	width: 25vw;
	border-radius: 10px;
}

.consumption-image{
	width: 25vw;
	border-radius: 10px;
}

.loss-image{
	width: 25vw;
	border-radius: 10px;
}

.text{
	font-size: 17px;
	width: 70%;
	margin: 0 auto;
	padding: 40px 0 60px 0;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}