* {
  box-sizing: border-box;
}

.top-image {
  width:100vw;
}

.gallery{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	height: 16%;
	width: 100%;
}

.gallery-text {
	font-size: 3.7vw;
	width: 35vw;
	padding-bottom: 10px;
	border-bottom:5px solid #88B6A9;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.gallery-image{
  display: flex;
  align-items: center;
	justify-content: space-around;
	width: 100%;
	padding: 60px 0;
	

}

.management-image{
	text-decoration: none;
}

.food-image{
	width: 25vw;
	border-radius: 10px;
}

.image-text{
	text-align: center;
	color: black;
	font-size: 25px;
}

.consumption-image{
	width: 25vw;
	border-radius: 10px;
}

.loss-image{
	width: 25vw;
	border-radius: 10px;
}

.text{
	font-size: 17px;
	width: 70%;
	margin: 0 auto;
	padding: 40px 0 60px 0;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.product{
  display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	height: 16%;
	width: 100%;
}

.product-text {
	font-size: 3.7vw;
	width: 31vw;
	padding-bottom: 10px;
	border-bottom:5px solid #88B6A9;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.message{
  display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	height: 16%;
	width: 100%;
}

.message-text {
	font-size: 3.7vw;
	width: 34vw;
	padding-bottom: 10px;
	border-bottom:5px solid #88B6A9;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.news{
  display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	height: 16%;
	width: 100%;
}

.news-text {
	font-size: 3.7vw;
	width: 19vw;
	padding-bottom: 10px;
	border-bottom:5px solid #88B6A9;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}