* {
  box-sizing: border-box;
}

.top-image {
  width:100vw;
}

.gallery{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	height: 16%;
	width: 100%;
}

.gallery-text {
	font-size: 3.7vw;
	width: 35vw;
	padding-bottom: 10px;
	border-bottom:5px solid #88B6A9;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.gallery-image{
  display: flex;
  align-items: center;
	justify-content: space-around;
	width: 100%;
	padding: 60px 0;
}

.gallery-animation{
	border: 4px solid #BCBCBE;
	border-radius: 5%;
  transition: all 0.3s ease 0s;
}

.gallery-animation:hover {
	cursor: pointer;
  transform: scale(1.05, 1.05);
	background-color: #88B6A9;
	box-shadow: 0 3px 6px 0 rgba(0, 1, 0, 1);
}

.management-image{
	text-decoration: none;
}

.food-image{
	width: 25vw;
	border-radius: 5%;
}

.image-text{
	text-align: center;
	color: black;
	font-size: 3vw;
}

.consumption-image{
	width: 25vw;
	border-radius: 5%;
}

.loss-image{
	width: 25vw;
	border-radius: 5%;
}

.text{
	font-size: 2vw;
	width: 70%;
	margin: 0 auto;
	padding: 40px 0 60px 0;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.product{
  display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	height: 16%;
	width: 100%;
}

.product-name {
	font-size: 3.7vw;
	width: 31vw;
	padding-bottom: 10px;
	border-bottom:5px solid #88B6A9;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.product-main{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	padding: 15vh 0 60px 0;
}

.product-text{
	font-size: 1.9vw;
	width: 40vw;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
	border-top: 5px dotted #BCBCBE;
	border-bottom: 5px dotted #BCBCBE;
}

.product-text>span{
	font-size: 2.2vw;
	color: #00745A;
}

.product-text>p{
	color: #C55A5A;
	font-size: 1.7vw;
}

.deco-image{
	border-radius: 50%;
	width: 40vw;
	border: 4px solid #BCBCBE;
}

.message{
  display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	height: 16%;
	width: 100%;
}

.message-name {
	font-size: 3.7vw;
	width: 34vw;
	padding-bottom: 10px;
	border-bottom:5px solid #88B6A9;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.message-main{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	padding: 15vh 0 60px 0;
}

.message-text1{
	font-size: 1.9vw;
	width: 40vw;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
	border-top: 5px dotted #BCBCBE;
	border-bottom: 5px dotted #BCBCBE;
}

.message-text1>span{
	font-size: 2.2vw;
	color: #00745A;
}

.message-text2{
	font-size: 1.9vw;
	width: 40vw;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
	border-top: 5px dotted #BCBCBE;
	border-bottom: 5px dotted #BCBCBE;
}

.message-text2>span{
	font-size: 2.2vw;
	color: #00745A;
}

.message-text3{
	font-size: 1.9vw;
	width: 40vw;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
	border-top: 5px dotted #BCBCBE;
	border-bottom: 5px dotted #BCBCBE;
}

.message-text3>span{
	font-size: 2.2vw;
	color: #00745A;
}

.news{
  display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	height: 16%;
	width: 100%;
}

.news-name {
	font-size: 3.7vw;
	width: 19vw;
	padding-bottom: 10px;
	border-bottom:5px solid #88B6A9;
	font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}