/* border-bottom: 1px solid #eee; */

.foods-sell-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.foods-sell-title {
  font-size: 24px;
  text-align: center;
}

/* 共通 */

.indispensable {
  background: #88B6A9;
  margin-left: 8px;
  padding: 1.5px;
  width: 30px;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.weight-text {
  font-size: 17px;
}

/* /共通 */



.img-upload{
  display: flex;
  align-items: center;
  margin-top : 50px;
}

.click-upload{
  margin: 20px 0;
}

.click-upload>p{
  margin-bottom: 5px;
}

.foods-name{
  display: flex;
  align-items: center;
  margin: 50px 0 20px 0;
}

.quantity-text{
  display: flex;
  align-items: center;
  margin: 50px 0 20px 0;
}

.quantity-form{
  display: flex;
  align-items: center;
}

.select-box {
  height: 30px;
  width: 40%;
  background-color: #f5f5f5;
  border-radius: 2px;
}

.foods-text{
  margin-right: 15px;
}

.foods-deadline{
  display: flex;
  align-items: center;
  margin: 50px 0 20px 0;
}

.input-deadline-wrap{
  display: flex;
}

.foods-status{
  margin-bottom: 100px;
}

.status-text{
  display: flex;
  align-items: center;
  margin: 50px 0 20px 0;
}

.status-radio{
  display: flex;
  justify-content: space-around;
}

/* 下部ボタン */

.edit-btn-contents {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-btn {
  background: #88B6A9;
  border: 1px solid #88B6A9;
  color: black;
  width: 100%;
  height: 50px;
  font-size: 1.7vw;
  margin-bottom: 4vh;
  cursor: pointer;
  border-radius: 4px;
}

.destroy-btn {
  background: #C55A5A;
  border: 1px solid #C55A5A;
  color: black;
  padding: 12px 32%;
  text-decoration: none;
  font-size: 1.7vw;
  border-radius: 4px;
  margin-bottom: 2vh;
}

.back-btn1 {
  background: #BCBCBE;
  border: 1px solid #BCBCBE;
  color: black;
  padding: 12px 35%;
  text-decoration: none;
  font-size: 1.7vw;
  border-radius: 4px;
}
/* /下部ボタン */