/* border-bottom: 1px solid #eee; */

/* ヘッダー */

.foods-sell-contents {
  background-color: #f5f5f5;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.foods-sell-header {
  padding: 5vh 0;
  text-align: center;
}

.foods-sell-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.foods-sell-title {
  font-size: 24px;
  text-align: center;
}

/* /ヘッダー */

/* 共通 */

.indispensable {
  background: #88B6A9;
  margin-left: 8px;
  padding: 1.5px;
  width: 30px;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.weight-text {
  font-size: 17px;
}

/* /共通 */



.img-upload{
  display: flex;
  align-items: center;
  margin-top : 50px;
}

.click-upload{
  margin: 20px 0;
}

.click-upload>p{
  margin-bottom: 5px;
}

.foods-name{
  display: flex;
  align-items: center;
  margin: 50px 0 20px 0;
}

.quantity-text{
  display: flex;
  align-items: center;
  margin: 50px 0 20px 0;
}

.quantity-form{
  display: flex;
  align-items: center;
}

.select-box {
  height: 30px;
  width: 40%;
  background-color: #f5f5f5;
  border-radius: 2px;
}

.foods-text{
  margin-right: 15px;
}

.foods-deadline{
  display: flex;
  align-items: center;
  margin: 50px 0 20px 0;
}

.input-deadline-wrap{
  display: flex;
}

.foods-status{
  margin-bottom: 100px;
}

.status-text{
  display: flex;
  align-items: center;
  margin: 50px 0 20px 0;
}

.status-radio{
  display: flex;
  justify-content: space-around;
}

/* 下部ボタン */

.edit-btn-contents {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-btn {
  background: #88B6A9;
  border: 1px solid #88B6A9;
  color: black;
  padding: 15px 35%;
  font-size: 14px;
  margin-bottom: 4vh;
  cursor: pointer;
  border-radius: 4px;
}

.destroy-btn {
  background: #C55A5A;
  border: 1px solid #C55A5A;
  color: black;
  margin-bottom: 2vh;
  padding: 15px 29%;
  text-decoration: none;
  border-radius: 4px;
}

.back-btn1{
  background: #BCBCBE;
  border: 1px solid #BCBCBE;
  color: black;
  padding: 15px 31%;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

/* /下部ボタン */


/* フッター */

.foods-sell-footer {
  background-color: #f5f5f5;
  width: 60vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.foods-sell-footer>.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vh 0;
}

.menu>li>a {
  color: black;
  font-size: 12px;
  margin: 2vw;
}

.inc {
  font-size: 13px;
}

/* /フッター */