/* 商品一覧 */
.food-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.title {
  background-color: #FFF;
  text-align: center;
  padding: 10vh 0 0 0;
  font-size: 5vw;
  width:27vw;
  margin-bottom: 10vh;
  border-bottom:5px solid #88B6A9;
}

.another-page{
  display: flex;
  text-align: center;
  justify-content: flex-end;
}

.page-menu{
  text-decoration: none;
  background-color: #88B6A9;
  border: 4px solid #BCBCBE;
  color: black;
  border-radius: 4%;
  font-size: 3vw;
  padding: 1vh 1vw;
  transition: all 0s ease 0s;
}

.page-menu:hover {
  border: none;
}

.page-menu2{
  text-decoration: none;
  background-color: #88B6A9;
  border: 4px solid #BCBCBE;
  color: black;
  border-radius: 4%;
  font-size: 3vw;
  margin: 0 5vw 0 5vw;
  padding: 1vh 1vw;
  transition: all 0s ease 0s;
}

.page-menu2:hover {
  border: none;
  margin-left: calc(5vw + 8px);
}

.food-contents{
  margin-top: 8vh;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.food-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  border: 2px solid #BCBCBE;
  margin: 1%;
  border-radius: 10px;
  transition: all 0s ease 0s;
}

.food-lists>.list:hover{
  transform: scale(0.95, 0.95);
}

.food-link{
  text-decoration: none;
}

.food-img-content {
  text-align: center;
}

.food-img {
  width: 33vh;
  height: 33vh;
  border-radius: 30px;
}

.food-info {
  color: black;
  font-size: 15px;
}

.food-name {
  display: flex;

}

.food-name2{
  color: green;
}

.food-quantity {
  display: flex;
}

.food-deadline{
  display: flex;
}

.food-deadline2{
  color: aqua;
}

.food-deadline3{
  color: red;
}


/* //商品一覧 */