/* 商品一覧 */
.food-title{
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.title {
  background-color: #FFF;
  text-align: center;
  padding: 10vh 0 0 0;
  font-size: 40px;
}

.new-food{
  text-align: right; 
  margin:50px 50px 0 0;
}

.new-food1{
  text-decoration: none;
  background-color: green;
  border: 7px solid green;
  color: white;
  border-radius: 4px;
  font-size: 30px;
}

.food-contents{
  margin-top: 8vh;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.food-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  border: 1px solid gray;
  margin: 4px;
  border-radius: 10px;
}

.food-link{
  text-decoration: none;
}

.food-img-content {
  text-align: center;
}

.food-img {
  width: 33vh;
  height: 33vh;
  border-radius: 30px;
}

.food-info {
  color: black;
  font-size: 19px;
}

.food-name {
  display: flex;

}

.food-name2{
  color: green;
}

.food-quantity {
  display: flex;
}

.food-deadline{
  display: flex;
}

/* //商品一覧 */