/* border-bottom: 1px solid #eee; */

/* ヘッダー */

.foods-sell-contents {
  height: 100%;
  background-color: #f5f5f5;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 30vw;
}

.foods-sell-header {
  padding: 5vh 0;
  text-align: center;
}

/* /ヘッダー */

.foods-sell-main {
  background-color: #FFF;
  width: 60vw;
}

.foods-sell-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foods-sell-title1 {
  width: 20vw;
  font-size: 2.7vw;
  border-bottom: 4px solid #88B6A9;
}

.img-upload{
  display: flex;
  align-items: center;
  margin-top : 9vh;
}

.click-upload{
  margin: 2vh 0;
}

.click-upload>p{
  margin-bottom: 1vh;
}

.foods-name{
  display: flex;
  align-items: center;
  margin: 5vh 0 2vh 0;
}

.weight-text {
  font-size: 17px;
}

.quantity-text{
  display: flex;
  align-items: center;
  margin: 5vh 0 2vh 0;
}

.quantity-form{
  display: flex;
  align-items: center;
}

.select-box {
  height: 30px;
  width: 40%;
  background-color: #f5f5f5;
  border-radius: 2px;
}

.foods-text{
  margin-right: 1vw;
}

.foods-deadline{
  display: flex;
  align-items: center;
  margin: 5vh 0 2vh 0;
}

.input-deadline-wrap{
  display: flex;
  margin-bottom: 8vh;
}

/* 下部ボタン */

.sell-btn-contents {
  width: 100%;
  text-align: center;
}

.sell-btn {
  background: #88B6A9;
  border: 1px solid #88B6A9;
  color: black;
  width: 100%;
  height: 50px;
  font-size: 1.7vw;
  margin-bottom: 5vh;
  cursor: pointer;
  border-radius: 4px;
}

.back-btn {
  background: #BCBCBE;
  border: 1px solid #BCBCBE;
  color: black;
  padding: 16px 35%;
  text-decoration: none;
  font-size: 1.7vw;
  border-radius: 4px;
}

/* /下部ボタン */


/* フッター */

.foods-sell-footer {
  background-color: #f5f5f5;
  width: 60vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.foods-sell-footer>.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vh 0;
}

.menu>li>a {
  color: black;
  font-size: 12px;
  margin: 2vw;
}

.inc {
  font-size: 13px;
}

/* /フッター */

/* スマホ表示時 */
@media (max-width: 599px) {
  /* ヘッダー */

  .foods-sell-header {
    width: 30vw;
  }

  /* /ヘッダー */

  .foods-sell-main {
    width: 80vw;
  }

  .foods-sell-title1 {
    width: 40vw;
    font-size: 5vw;
    border-bottom: 5px solid #88B6A9;
  }

  .img-upload{
    margin-top : 7vh;
  }

  .click-upload{
    margin: 1.5vh 0;
  }

  .weight-text {
    font-size: 3vw;
  }

  .input-deadline-wrap{
    width: 70vw;
    font-size: 3vw;
  }

  /* 下部ボタン */

  .sell-btn {
    width: 95%;
    font-size: 3vw;
    margin-bottom: 5vh;
  }

  .back-btn {
    padding: 16px 32%;
    font-size: 3vw;
  }

  /* /下部ボタン */


  /* フッター */

  .foods-sell-footer {
  padding: 0.5vh 0;
}

.menu>li>a {
  color: black;
  font-size: 2.5vw;
}

.inc {
  font-size: 2vw;
}

/* /フッター */
}