* {
  box-sizing: border-box;
}

.purchase-btn {
  width: 120px;
  background: #88B6A9;
  text-align: center;
  border-radius: 50%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  text-decoration: none;
  border: 3px solid #BCBCBE;
}

.purchase-btn-text {
  color: black;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 80%;
  border-radius: 15%;
  border: 2px solid #BCBCBE;
}