<footer>

  <div class="footer-main">
    <div class="footer-logo">
      <%=link_to image_tag("logo.jpg", class:"footer-logo1"), "#footer-jump" %>
    </div>
    <div class="footer-menu">
      <ul class = "footer-menu1">
        <li>
          <a href="#" class="how-to-use">Seaweedの使い方</a>
        </li>
        <li>
          <a href="#" class="help">ヘルプ</a>
        </li>
        <li>
          <a href="#"  class="contact-us">お問い合わせ</a>
        </li>
        <li>
          <a href="#" class="terms-of-service">利用規約</a>
        </li>
        <li>
          <a href="#" class="privacy">プライバシーポリシー</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p class="copylight">
      ©2021 Seaweed
    </p>
  </div>


</footer>