<footer class='third-footer'>
  <div class='third-footer-text-wrap'>
    <p class='third-footer-text'>プライバシーポリシー</p>
    <p class='third-footer-text'>Seaweed利用規約</p>
  </div>
  <div class ="third-footer-logo">
  <%= link_to image_tag("logo1.jpg", class:"third-footer-logo1"), "/" %>
</footer>