.form-header-text1 {
  width:19vw;
  text-align: center;
  border-bottom: 4px solid #88B6A9;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}

.login-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn1{
  width: 25vw;
  margin: 6vh 0;
  background: #88B6A9;
  border: 1px solid #88B6A9;
  color: black;
  line-height: 5vh;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.login-flash-message {
  text-align: center;
  color: #C55A5A;
}

@media (max-width: 599px) {
  .form-header-text1 {
    width:34vw;
    font-size: 5vw;
    border-bottom: 5px solid #88B6A9;
  }

  .login-btn1{
    width: 43vw;
    margin: 6vh 0;
    font-size: 3vw;
  }
}