
.login-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn1{
  width: 25vw;
  margin: 6vh 0;
  background: #88B6A9;
  border: 1px solid #88B6A9;
  color: black;
  line-height: 5vh;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.login-flash-message {
  text-align: center;
  color: #C55A5A;
}